
@{
    ViewBag.Title = "Galeria";
}

<div class="titulo text-center ">
    <h2 >Galeria</h2>
</div>

<div class="conteudo container" >

    <div class="img-front">
        <img src="~/img/front.jfif" />
        <p>
            <h3>Back-End</h3>
        </p>
    </div>

    <div class="img-front2">
        <img src="~/img/img3.jfif" />
        <p>
            <h3>Front-End</h3>
        </p>
    </div>

</div>



